@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-darkPurple: #332267;
  --color-lightPurple: #6748C5;
  --color-winningBlock: #39B167;
  --color-btn: #867EB8;
  --color-btnHover: #716a9c;
  ;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 3rem;
  font-family: 'Pangolin', cursive, sans-serif;
}

h1 {
  font-size: 4rem;
  border-bottom: 0.2rem solid var(--color-lightPurple);
}

h2 {
 font-size: 2.5rem;
}