@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-darkPurple: #332267;
  --color-lightPurple: #6748C5;
  --color-winningBlock: #39B167;
  --color-btn: #867EB8;
  --color-btnHover: #716a9c;
  ;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 3rem;
  font-family: 'Pangolin', cursive, sans-serif;
}

h1 {
  font-size: 4rem;
  border-bottom: 0.2rem solid var(--color-lightPurple);
}

h2 {
 font-size: 2.5rem;
}

.players {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
}

.players input {
  padding: 0.5rem;
  border-radius: 1rem;
}

.players input:focus {
  outline: none;
  border-color: var(--color-lightPurple);
}

#start {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--color-btn);
  background-color: #DDCEEF;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.685);
  border-radius: 4rem;
  padding: 1rem;
  transition: 0.2s;
  box-shadow: 2px 2px 20px 2px rgba(181, 95, 231, 0.48);
}
   
#start:hover {
  color: var(--color-btnHover);
  background-color: #CFC0E0;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 10px 0px rgba(181, 95, 231, 0.48);
}

#gameBoard {
  font-family: 'Pangolin', cursive;
  background-color: var(--color-lightPurple);
  display: grid;
  grid-template-columns: 9rem 9rem 9rem;
  grid-template-rows: 9rem 9rem 9rem;
  gap: .5rem;
  border-radius: 1rem;
  max-width: 30rem;
}

#gameBoard span {
  background-color: var(--color-darkPurple);
  display: grid;
  place-content: center;
  font-size: 5rem;
  border-radius: 1rem;
}

#gameBoard span.win {
  background-color: var(--color-winningBlock);
}

.cursor-pointer {
  cursor: pointer;
}