.wrapper {
  background: var(--cor-vinho);
  border-radius: .75rem;
  color: #fff;
  font-weight: 700;
  padding: .625rem;
  position: relative;
  bottom: 0;
  text-decoration: none;
  box-shadow: 0 4px 6px -1px #56251a, 0 2px 4px -1px #56251a;
  transition: all .6s ease;
  width: 10rem;
}
.wrapper:hover {
  box-shadow: 0 10px 20px -7px rgb(67, 86, 26), 0 4px 6px -2px #181806;
  bottom: .25rem;
}